<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials::head('Food Menu')"></head>
<body>
    <div th:replace="partials::navbar"></div>
    <div class="container">
        <h1>Food Orders</h1>

        <!-- Below this, food selection -->
        <form th:action="@{/food}" th:method="post" th:object="${allFood}">
            <input type="hidden" name="order_id" th:value="${order_id}" />

            <div class="row"> <!-- top row -->

                <div th:each="food : ${allFood}" class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img th:src="'/img/' + ${food.name} + '.jpg'" alt="Popcorn"/>
                            <span CLASS="card-title" th:text="${food.name}"></span>


                        </div>
                        <div class="card-action">
                            <label>
                                <input type="checkbox" name="food" th:value="${food.id}" class="filled-in"/>
                                <span><small CLASS=" right" th:text="'$'+${food.price}"></small>add to order  .</span>
                            </label>
                        </div>
                    </div>
                </div>


                <button class="btn waves-effect waves-light" type="submit">Skip</button>
                <button type="submit">finish</button>
            </div>
        </form>
    </div><!-- /.container -->
    <div th:replace="partials::footer"></div>

</body>
</html>