<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Movie Page')"></head>

<body>
    <div th:replace="partials::navbar"></div>

    <div class="container">
        <!--//MOVIE CONTENT WILL BE DISPLAYED IN THIS CONTAINER//-->
      <form th:action="@{/order}" th:method="post" th:object="${order}">
        <div id="movie" class="well">

        </div>
    <h2>Select Date and Time</h2>
        <div class="row">
            <div class="col s8">
            <!--CALENDER AND DATE WILL SHOW UP HERE-->
            <input th:field="*{order_date}" type="text" placeholder="Select Date" class="datepicker" />
            </div>

        </div>

        <div class="row">
            <div class="input-field col s8">
                <select th:field="*{movie_time}">
                    <option value="" class="disabled selected">Choose your option</option>
                    <option value="1">8:02am</option>
                    <option value="2">11:20am</option>
                    <option value="3">2:35pm</option>
                    <option value="4">5:45pm</option>
                    <option value="5">8:35pm</option>
                </select>
                <label>Please select a time</label>
            </div>
            <div class="input-field col s4">
                <select th:field="*{}">
                    <option value="" class="disabled selected">Quantity</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="5">6</option>
                    <option value="5">7</option>
                    <option value="5">8</option>
                </select>
                <label>Please select amount</label>
            </div>
        </div>

        <button type="submit">next</button>
        </form>


        </div>




    <footer th:replace="partials :: footer" />

</body>
</html>