<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Movie Page')"></head>

<body>
<div th:replace="partials::navbar"></div>

<header id="moviePoster">


</header>
<br />
<main>
    <div class="container">
    <!--//MOVIE CONTENT WILL BE DISPLAYED IN THIS CONTAINER//-->
    <form th:action="@{/order}" th:method="post" th:object="${order}">
        <div class="row">
            <div id="movie" class="well col s12">
            </div>
            <input type="hidden" name="movies_id" th:value="${movies_id}"/>
        </div>

        <h4>SELECT SHOWTIME</h4>
        <div class="row">
            <div id="datePicker" class="input-field col s12 l4">
                <!--CALENDER AND DATE WILL SHOW UP HERE-->
                <input th:field="*{order_date}" type="text" placeholder="Select Date" class="datepicker" />
            </div>
            <div class="input-field col s12 l4">
                <select id="movieTime" th:field="*{movie_time}">
                    <option value="" class="disabled selected">Choose your time</option>
                    <option value="8:02a">8:02 a.m.</option>
                    <option value="11:20am">11:20 a.m.</option>
                    <option value="2:35pm">2:35 p.m.</option>
                    <option value="5:45pm">5:45  p.m.</option>
                    <option value="8:35p">8:35 p.m.</option>
                </select>
                <label>Please select a time</label>
            </div>
            <div class="input-field col s12 l4">
                <select id="totalTickets" th:field="*{total_tickets}">
                    <option class="disabled selected" value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="5">6</option>
                    <option value="5">7</option>
                    <option value="5">8</option>
                </select>
                <label>Please select amount:<medium> $7.00 each</medium> </label>
            </div>
        </div><!--CLOSES SECOND ROW-->
        <div class="row">
            <div class="col 12" id="singleBtn">
                <button id="btn1" class="btn waves-effect waves-light right" type="submit" >SELECT SEATS</button>
            </div>
        </div>
    </form>
    </div>
</main>
<br/>
<br/>

<footer th:replace="partials :: footer" />

</body>
</html>