<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Review order')"></head>

<body>
<div th:replace="partials::navbar"></div>

<div class="container">
        <!-- Need to add movie title, seat numbers/name -->
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card z-depth-5">
                <div class="card-content checkoutCard">
    <form th:action="@{/orderSubmited}" class="formSendEmail" th:method="post" th:object="${order}">
        <input type="hidden" class="hiddenOrderNum" name="order_id" th:value="${order_id}" />

        <!--<input  id="QrHidden" name="order_id" th:value="'https://api.qrserver.com/v1/create-qr-code/?data='+ ${order_id} +'&amp;size=100x100'"/>-->

        <table class="responsive-table">
                <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Item Price</th>
                    <th>Quantity</th>

                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>Tickets</td>
                    <td>$7.00</td>
                    <td class="ticketsTotal" th:text="${order.total_tickets}"></td>
                </tr>
                <div th:each="food : ${orderFood}" class="col s1">
                    <tr>
                        <td th:text="${food.name}"></td>
                        <td class="foodPrice" th:text="'$'+${#numbers.formatDecimal(food.price, 0, 2)}"></td>
                        <td>1</td>
                    </tr>
                </div>
                <tr>
                    <td></td>
                    <td><strong>Total :</strong></td>
                    <td id="total"></td>
                </tr>

                </tbody>
            </table>

        <script
                th:method="POST"
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_ETPXIrl9MBozBoNejhJzk3ja"
                data-name="Ticketsup"
                data-description='Theater tickets'
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-zip-code="true">
        </script>
    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<footer th:replace="partials :: footer" />

<script>
    $(document).ready(function() {
            let idValue = $(".hiddenOrderNum").val();
            let qrlink = 'https://api.qrserver.com/v1/create-qr-code/?data=' + idValue + '&amp;size=100x100';

        console.log(idValue);
        console.log(qrlink);

        $(document).on(".Section-button button" , "submit" , function () {
            $('.formSendEmail').submit()
        });



        $('.formSendEmail').submit(function(e) {


            $.ajax({
                    method: 'POST',
                    url: '//formspree.io/elamraniabdelmoula.com',
                    data: { message :qrlink },
                    datatype: 'json'
                });



        });

    });
</script>
</body>
</html>