<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('seat')"></head>

<body>
<div  th:replace="partials::navbar"></div>

<div class="container">

    <h2>Choose your Seats</h2>


    <div class="row">
    <div>FRONT OF SCREEN GOES HERE</div>
    </div>

    <!--THIS WILL BE THE SEAT SELECTION AREA-->

    <!--THIS IS THE START OF THE FIRST ROW -->
 <form th:action="@{/seats}" th:method="post" th:object="${seats}">
     <input type="hidden" name="order_id" th:value="${order_id}" />
    <div class="row">

        <div th:each="seat : ${seats}" class="col s1">
            <label>
                <input type="checkbox" name="seats" th:value="${seat.id}" class="filled-in" />
                <span th:text="${seat.name}"></span>
            </label>
        </div>
    </div> <!--END OF THE ELEVENTH ROW-->

    <button class="btn waves-effect waves-light" type="submit" >Submit
    </button>
    </form>

</div>
<footer th:replace="partials :: footer" />


<!--<script src="../../static/js/main.js" ></script>-->
</body>
</html>