<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Edit Profile')"></head>
<body>
<main role="main" class="container">
    <div th:replace="partials::navbar"></div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Edit Profile</h5>

            <!-- Suggest this be in a container and then a card-->
            <form class="card-text" th:action="@{/editUser}" method="POST" th:object="${user}">
                <label for="first_name">First Name:</label>
                <input name="first_name" id="first_name" th:field="*{first_name}" />
                <input name="id" type="hidden" th:field="*{id}" />

                <br />
                <label for="last_name">Last Name:</label>
                <input id="last_name" name="last_name" th:field="*{last_name}"/>
                <br />
                <label for="phone">Phone Number:</label>
                <input id="phone" name="phone" th:field="*{phone}" />
                <br />
                <label for="email">Email:</label>
                <input id="email" name="email" th:field="*{email}"/>
                <br />
                <label for="zip_code">Zipcode:</label>
                <input id="zip_code" name="zip_code" th:field="*{zip_code}" />
                <br />
                <label for="username">Username:</label>
                <input id="username" name="username" th:field="*{username}"/>
                <br />
                <label for="password">Password:</label>
                <input id="password" name="password" th:type="password" th:field="*{password}"/>
                <br />
                <input class="btn" type="submit" />
            </form>
        </div>
    </div>



    <div th:replace="partials::footer"></div>
</main><!-- /.container -->
</body>
</html>