<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Create Profile')"></head>
<body>
<main role="main" class="container">
    <div th:replace="partials::header"></div>
    <div th:replace="partials::navbar"></div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">New Profile</h5>

            <!-- Suggest this be in a container and then a card-->
            <form class="card-text" action="/user/register" method="post" th:object="${user}">
                <label>First Name:</label>
                <input th:field="*{first_name}" />
                <br />
                <label>Last Name:</label>
                <input th:field="*{body}"/>
                <br />
                <label>Phone Number:</label>
                <input th:field="*{title}" />
                <br />
                <label>Email:</label>
                <input th:field="*{body}"/>
                <br />
                <label>Zipcode:</label>
                <input th:field="*{zipcode}" />
                <br />
                <label>Username:</label>
                <input th:field="*{username}"/>
                <br />
                <label>Password:</label>
                <input th:field="*{password}"/>
                <br />
                <label>Verify Password:</label>
                <input th:field="*{password}"/>
                <br />
                <button type="submit">Register</button>
            </form>
        </div>
    </div>



    <div th:replace="partials::footer"></div>
</main><!-- /.container -->
</body>
</html>