<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('seat')"></head>

<body>
<div  th:replace="partials::navbar"></div>

<div class="container">

    <h2>Choose your Seats</h2>


    <div class="row">
    <div>FRONT OF SCREEN GOES HERE</div>
    </div>

    <!--THIS WILL BE THE SEAT SELECTION AREA-->

    <!--THIS IS THE START OF THE FIRST ROW -->
    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox" value="A1" class="filled-in" />
                <span>A1</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="A2" class="filled-in" />
                <span>A2</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="A3" class="filled-in" />
                <span>A3</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="A4" class="filled-in" />
                <span>A4</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="A5" class="filled-in" />
                <span>A5</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="A6" class="filled-in" />
                <span>A6</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="A7" class="filled-in" />
                <span>A7</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="A8" class="filled-in" />
                <span>A8</span>
            </label>
        </div>
    </div><!--END OF THE FIRST ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="B1" class="filled-in" />
                <span>B1</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="B2" class="filled-in" />
                <span>B2</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="B3" class="filled-in" />
                <span>B3</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="B4" class="filled-in" />
                <span>B4</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="B5" class="filled-in" />
                <span>B5</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="B6" class="filled-in" />
                <span>B6</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="B7" class="filled-in" />
                <span>B7</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="B8"    class="filled-in" />
                <span>B8</span>
            </label>
        </div>
    </div> <!--END OF THE SECOND ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="C1" class="filled-in" />
                <span>C1</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="C2" class="filled-in" />
                <span>C2</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="C3" class="filled-in" />
                <span>C3</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="C4" class="filled-in" />
                <span>C4</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="C5" class="filled-in" />
                <span>C5</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="C6" class="filled-in" />
                <span>C6</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="C7" class="filled-in" />
                <span>C7</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="C8" class="filled-in" />
                <span>C8</span>
            </label>
        </div>
    </div><!--END OF THE THIRD ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="D1" class="filled-in" />
                <span>D1</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="D2" class="filled-in" />
                <span>D2</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="D3" class="filled-in" />
                <span>D3</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="D4" class="filled-in" />
                <span>D4</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="D5" class="filled-in" />
                <span>D5</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="D6" class="filled-in" />
                <span>D6</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="D7" class="filled-in" />
                <span>D7</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="D8" class="filled-in" />
                <span>D8</span>
            </label>
        </div>
    </div><!--END OF THE FOURTH ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="E1" class="filled-in" />
                <span>E1</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="E2" class="filled-in" />
                <span>E2</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="E3" class="filled-in" />
                <span>E3</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="E4" class="filled-in" />
                <span>E4</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="E5" class="filled-in" />
                <span>E5</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="E6" class="filled-in" />
                <span>E6</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="E7" class="filled-in" />
                <span>E7</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="E8" class="filled-in" />
                <span>E8</span>
            </label>
        </div> <!--END OF THE FIFTH ROW-->
    </div>

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="F1" class="filled-in" />
                <span>F1</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="F2" class="filled-in" />
                <span>F2</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="F3" class="filled-in" />
                <span>F3</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="F4" class="filled-in" />
                <span>F4</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="F5" class="filled-in" />
                <span>F5</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="F6" class="filled-in" />
                <span>F6</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="F7" class="filled-in" />
                <span>F7</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="F8" class="filled-in" />
                <span>F8</span>
            </label>
        </div>
    </div> <!--END OF THE SIXTH ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="G1" class="filled-in" />
                <span>G1</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="G2" class="filled-in" />
                <span>G2</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="G3" class="filled-in" />
                <span>G3</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="G4" class="filled-in" />
                <span>G4</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="G5" class="filled-in" />
                <span>G5</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="G6" class="filled-in" />
                <span>G6</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="G7" class="filled-in" />
                <span>G7</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="G8" class="filled-in" />
                <span>G8</span>
            </label>
        </div>
    </div> <!--END OF THE SEVENTH ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="H1" class="filled-in" />
                <span>H1</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="H2" class="filled-in" />
                <span>H2</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="H3" class="filled-in" />
                <span>H3</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="H4" class="filled-in" />
                <span>H4</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="H5" class="filled-in" />
                <span>H5</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="H6" class="filled-in" />
                <span>H6</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="H7" class="filled-in" />
                <span>H7</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="H8" class="filled-in" />
                <span>H8</span>
            </label>
        </div>
    </div> <!--END OF THE EIGHTH ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="I1" class="filled-in" />
                <span>I1</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="I2" class="filled-in" />
                <span>I2</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="I3" class="filled-in" />
                <span>I3</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="I4" class="filled-in" />
                <span>I4</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="I5" class="filled-in" />
                <span>I5</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="I6" class="filled-in" />
                <span>I6</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="I7" class="filled-in" />
                <span>I7</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="I8" class="filled-in" />
                <span>I8</span>
            </label>
        </div>
    </div> <!--END OF THE NINTH ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="J1" class="filled-in" />
                <span>J1</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="J2" class="filled-in" />
                <span>J2</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="J3" class="filled-in" />
                <span>J3</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="J4" class="filled-in" />
                <span>J4</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="J5" class="filled-in" />
                <span>J5</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="J6" class="filled-in" />
                <span>J6</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="J7" class="filled-in" />
                <span>J7</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="J8" class="filled-in" />
                <span>J8</span>
            </label>
        </div>
    </div> <!--END OF THE TENTH ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="K1" class="filled-in" />
                <span>K1</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="K2" class="filled-in" />
                <span>K2</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="K3" class="filled-in" />
                <span>K3</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="K4" class="filled-in" />
                <span>K4</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="K5" class="filled-in" />
                <span>K5</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="K6" class="filled-in" />
                <span>K6</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="K7" class="filled-in" />
                <span>K7</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox"  value="K8" class="filled-in" />
                <span>K8</span>
            </label>
        </div>
    </div> <!--END OF THE ELEVENTH ROW-->

    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    </button>

</div>
<footer th:replace="partials :: footer" />


<!--<script src="../../static/js/main.js" ></script>-->
</body>
</html>