<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Seat Selection')"></head>

<body>
<div th:replace="partials::navbar"></div>

<div class="container">

    <h2>Choose your Seats</h2>


    <div class="row">
    <div>FRONT OF SCREEN GOES HERE</div>
    </div>

    <!--THIS WILL BE THE SEAT SELECTION AREA-->

    <!--THIS IS THE START OF THE FIRST ROW -->
    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span>A1</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span>A2</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span>A3</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span>A4</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span>A5</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span>A6</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span>A7</span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span>A8</span>
            </label>
        </div>
    </div><!--END OF THE FIRST ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
    </div> <!--END OF THE SECOND ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
    </div><!--END OF THE THIRD ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
    </div><!--END OF THE FOURTH ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div> <!--END OF THE FIFTH ROW-->
    </div>

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
    </div> <!--END OF THE SIXTH ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
    </div> <!--END OF THE SEVENTH ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
    </div> <!--END OF THE EIGHTH ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
    </div> <!--END OF THE NINTH ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
    </div> <!--END OF THE TENTH ROW-->

    <div class="row">
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
        <div class="col s1 ">
            <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
            </label>
        </div>
    </div> <!--END OF THE ELEVENTH ROW-->

<footer th:replace="partials :: footer" />


<!--<script src="../../static/js/main.js" ></script>-->
</div>
</body>
</html>