<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Profile')"></head>

<body>

<div th:replace="partials :: navbar"></div>

<main>
<div class="container">
    <div class="row">
        <div class="col s12">
        <div class="card z-depth-5">
            <div class="card-content" >
                    <h2>Welcome <span th:text="${user.first_name}"></span>, to your profile!</h2>

                    <form class="card-text" th:action="@{/profile}"  method="post" th:object="${user}">
                        <label for="first_name">First Name:</label>
                        <input style="color: #731a14" class="profileInfo" disabled="disabled" name="first_name" id="first_name" th:field="*{first_name}" />
                        <input style="color: #731a14" class="profileInfo" disabled="disabled" name="id" type="hidden" th:field="*{id}" />
                        <br />
                        <label  for="last_name">Last Name:</label>
                        <input style="color: #731a14" class="profileInfo" disabled="disabled" id="last_name" name="last_name" th:field="*{last_name}"/>
                        <br />
                        <label  for="phone">Phone Number:</label>
                        <input style="color: #731a14" class="profileInfo" disabled="disabled" id="phone" name="phone" th:field="*{phone}" />
                        <br />
                        <label  for="email">Email:</label>
                        <input style="color: #731a14" class="profileInfo" disabled="disabled" id="email" name="email" th:field="*{email}"/>
                        <br />
                        <label for="zip_code">Zipcode:</label>
                        <input style="color: #731a14" class="profileInfo" disabled="disabled" id="zip_code" name="zip_code" th:field="*{zip_code}" />
                        <br />
                        <label  for="username">Username:</label>
                        <input style="color: #731a14" class="profileInfo" disabled="disabled" id="username" name="username" th:field="*{username}"/>
                        <br />
                            <div>
                                <a class="waves-effect waves-light btn" th:href="@{/editUser}">Edit Profile</a>
                            </div>
                    </form>
            </div>
        </div>
    </div>
</div>
</div>
</main>
<div th:replace="partials :: footer"></div>

</body>
</html>