<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Create Profile')"></head>
<body>
    <div th:replace="partials::navbar"></div>
<main role="main" class="container">

    <div class="card z-depth-5">
        <div class="card-body">
            <h5 class="card-title">New Profile</h5>

            <!-- Suggest this be in a container and then a card-->
            <form class="card-text" th:action="@{/sign-up}" method="post" th:object="${user}">
                <label>First Name:</label>
                <input th:field="*{first_name}" />
                <br />
                <label>Last Name:</label>
                <input th:field="*{last_name}"/>
                <br />
                <label>Phone Number:</label>
                <input th:field="*{phone}" />
                <br />
                <label>Email:</label>
                <input th:field="*{email}"/>
                <br />
                <label>Zipcode:</label>
                <input th:field="*{zip_code}" />
                <br />
                <label>Username:</label>
                <input th:field="*{username}"/>
                <br />
                <label>Password:</label>
                <input type="password" th:field="*{password}"/>
                <br />
                <button class="btn waves-effect waves-light" type="submit">Register</button>
            </form>
        </div>
    </div>



</main><!-- /.container -->
<div th:replace="partials::footer"></div>
</body>
</html>