<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials::head('About Us')"></head>
<body>
<div th:replace="partials::navbar"></div>

<div class="container">
    <h3>Meet the Ticketsup Team!</h3>
    <div class="row">
        <div class="col s12 l4">
            <div class="card z-depth-5"><!--BENNY'S CARD-->
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/img/benny_profile.jpg" />
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Benny Fields III<i class="material-icons right">more_vert</i></span>
                    <p>Software Developer</p>
                </div>
                <div class="card-action">
                    <a href="https://www.linkedin.com/in/bennyfields3/">Linkedin</a>
                    <a href="https://github.com/benny-fields3rd">Github</a>
                    <a href="#">Email</a>
                    <a href="https://alumni.codeup.com/students/562">Codeup</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">About Us<i class="material-icons right">close</i></span>
                    <p>Persistent, creative, intriguing, and infectious personality. These are traits that have helped guide me as a software developer. As a top secret cleared military veteran, I thrive in team-oriented environments and my attention to detail and never give up attitude has helped guide me to both seek out problems and find solutions. Coding entails many of the skills and traits I own and keeps me craving to learn more in this ever-evolving industry.

                        Clifton Gallup Top 5 Strengths: Restorative, Adaptability, Learner, Responsibility, Significance</p>
                </div>
            </div><!--CLOSES CARD-->
        </div>
        <div class="col s12 l4">
            <div class="card z-depth-5"><!--PIBO'S CARD-->
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/img/pibo_profile.jpg" />
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Abdelmoula El amrani (Pibo)<i class="material-icons right">more_vert</i></span>
                    <p>Software Developer</p>
                </div>
                    <div class="card-action">
                        <a href="https://www.linkedin.com/in/el-amrani/">Linkedin</a>
                        <a href="https://github.com/AbdelmoulaElAmrani">Github</a>
                        <a href="#">Email</a>
                        <a href="https://alumni.codeup.com/students/564">Codeup</a>
                    </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">About Us<i class="material-icons right">close</i></span>
                    <p>I always hear That you have to choose between intelligence or
                        creativity, Science or art, either right side of the brain, or the
                        left side. Software actually makes me use both of the sides,
                        While developing a Web Application I could intelligently code it
                        and creatively make it look stunning, plus the non-stop
                        learning, and that means to me the purpose of existing.</p>
                </div>
            </div><!--CLOSES CARD-->
        </div>
        <div class="col s12 l4">
            <div class="card z-depth-5"><!--KAREN'S CARD-->
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/img/karen_profile.jpg" />
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Karen Rivas<i class="material-icons right">more_vert</i></span>
                    <p>Software Developer</p>
                </div>
                <div class="card-action">
                    <a href="https://www.linkedin.com/in/karen-rivas/">Linkedin</a>
                    <a href="https://github.com/karen-rivas0410">Github</a>
                    <a href="#">Email</a>
                    <a href="https://alumni.codeup.com/students/560">Codeup</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">About Us<i class="material-icons right">close</i></span>
                    <p>So much of our everyday lives is enabled by software and in no other industry are we provided an opportunity like the one presented to us as coders. I see the world of coding as a gateway to this new future for us, and that each step taken is a new step to new beginnings.</p>
                </div>
            </div><!--CLOSES CARD-->
        </div>
    </div>
</div><!-- CLOSES CONTAINER -->
    <div th:replace="partials::footer"></div>


</body>
</html>