<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials::head('Create Profile')"></head>
    <body>
        <div th:replace="partials::header"></div>
        <div th:replace="partials::navbar"></div>
    <main role="main" class="container">

        <div class="row">

                <img th:src="@{/img/errorScreen.jpg}" />

                <h1>Oops! Looks like the page is not found!</h1>


        </div>

    </main><!-- /.container -->
        <div th:replace="partials::footer"></div>
    </body>
</html>