<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head th:replace="partials::head('Ticketsup')"></head>

<body>

<nav th:replace="partials :: navbar" />

    <main>
        <div class="slider">
            <ul class="slides">
                <li>
                    <img id="firstPoster" src="/img/187137230.jpg" /> <!-- random image -->
                    <div class="caption black-text right-align">

                    </div>
                </li>
                <li>
                    <img id="secPoster" src="/img/kids-movies-2019-1544054844.jpg"/> <!-- random image -->
                    <div class="caption black-text right-align">

                    </div>
                </li>
                <li>
                    <img id="thirdPoster" src="/img/maxresdefault.jpg"/> <!-- random image -->
                    <div class="caption black-text right-align">

                    </div>
                </li>

            </ul>
        </div>
    </main>

<div class="container">

    <ul id="tabs-swipe-demo"  class="tabs row">
        <li class="tab col l6"><a class="active " href="#test-swipe-1">NOW PLAYING <i class="Tiny material-icons">movie</i></a></li>
        <li class="tab col l6"><a  href="#test-swipe-2">UPCOMING <i class="Tiny material-icons">trending_up</i></a></li>
    </ul>
    <div id="test-swipe-1" class="col z-depth-5 l12 lighten-5 center-align">

    </div>
    <div id="test-swipe-2" class="col z-depth-5 l12 lighten-5 center-align">

    </div>
    <br />

    <div class="row extraOnIndex center-align">
        <div class="col s12 m12 l6">
            <h4>OUR THEATER<i class="small material-icons">local_movies</i></h4>
            <img class="imgBtmIndex z-depth-5"  height="270" src="/img/thumb_backstage.jpg" />
        </div>
        <div class="col s12 m12 l6">
            <h4>OUR LOCATION<i class="small material-icons">location_on</i></h4>
            <img class="imgBtmIndex z-depth-5"  width="380" src="/img/location.jpg" />
        </div>

    </div>
</div>
<div class="showSeats">
    <div class="seatRow">

        <div class="seatBlok">
            <div class="arm"></div>
            <div class="seatBack">
                <div class="lineDetails"></div>
            </div>
        </div>

    </div>

    <div class="seatRow">

        <div class="seatBlok">
            <div class="arm"></div>
            <div class="seatBack">
                <div class="lineDetails"></div>
            </div>
        </div>

    </div>

    <div class="seatRow">

        <div class="seatBlok">
            <div class="arm"></div>
            <div class="seatBack">
                <div class="lineDetails"></div>
            </div>
        </div>

    </div>
</div>


<footer th:replace="partials :: footer" />

<!-- comment -->
</body>
</html>