<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>

    <meta name="google-signin-client_id" content="462926050526-fkrncn6j0n50alprf71g3i6k2adle3s3.apps.googleusercontent.com"/>

    <link rel="icon" href="/img/ticketups logo.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Martel+Sans" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <!--<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/130527/qrcode.js"></script>-->
    <script src="/js/qrCode.js"></script>
    <script src="https://apis.google.com/js/platform.js" async="async" defer="defer"></script>
    <script src="/js/main.js" rel="script" ></script>
    <link rel="stylesheet" href="/css/main.css"  />

</head>
<body  id="top" >
    <nav th:fragment="navbar">
        <div class="nav-wrapper blue-grey darken-3">
            <a href="/" class="brand-logo"><img height="60" src="/img/ticketups-LOGO-NAME.png" />
            </a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <div class="button-group" sec:authorize="!isFullyAuthenticated()">
                    <!--<li><a href="/aboutUs">INFO</a></li>-->
                    <li><a href="/sign-up">  SIGN UP<i class="medium material-icons">edit</i> </a></li>
                    <li><a href="/login">LOGIN<i class="medium material-icons">account_circle</i></a></li>
                </div>

                <div class="button-group" sec:authorize="isFullyAuthenticated()">
                    <li><a href="/profile">PROFILE<i class="medium material-icons">account_circle</i></a></li>
                    <li><a href="/orders/user">ORDERS<i class="medium material-icons">local_offer</i></a></li>
                    <li>
                        <form th:action="@{/logout}" th:method="POST">
                            <button id="logout">LOGOUT <i class="medium material-icons">wrap_text</i></button>
                        </form>
                        </li>
                </div>
            </ul>
        </div>
    </nav>

    <footer th:fragment="footer" class="page-footer blue-grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Ticketsup</h5>
                    <p class="grey-text text-lighten-4">A Movie ticket and food ordering application created by three amazing Codeup developers!</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#">Contact Us</a></li>
                        <li><a class="grey-text text-lighten-3" href="/about-us">About Us</a></li>
                        <li><a class="grey-text text-lighten-3" href="#">Policy</a></li>
                        <li><a class="grey-text text-lighten-3" href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright Ticketsup
            </div>
        </div>
    </footer>
</body>
</html>