<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>

    <meta name="google-signin-client_id" content="462926050526-fkrncn6j0n50alprf71g3i6k2adle3s3.apps.googleusercontent.com"/>
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link rel="icon" href="/img/ticketups logo.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Martel+Sans" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <!--<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/130527/qrcode.js"></script>-->
    <script src="/js/qrCode.js"></script>
    <script src="https://apis.google.com/js/platform.js" async="async" defer="defer"></script>
    <script src="/js/main.js" rel="script" ></script>
    <link rel="stylesheet" href="/css/main.css"  />

</head>
<body  id="top" >
    <div th:fragment="navbar">
        <nav>

        <div class="nav-wrapper blue-grey darken-3">
            <a href="/" class="brand-logo"><img height="60" src="/img/ticketups-LOGO-NAME.png" />
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>


            <ul id="mobile-demo sidenav" class="right hide-on-med-and-down">
                <div class="button-group" sec:authorize="!isFullyAuthenticated()">
                    <!--<li><a href="/aboutUs">INFO</a></li>-->
                    <li><a href="/sign-up"><i class="medium material-icons">edit</i> SIGN UP </a></li>
                    <li><a href="/login"><i class="medium material-icons">account_circle</i> LOGIN</a></li>
                </div>

                <div class="button-group" sec:authorize="isFullyAuthenticated()">
                    <li><a href="/profile"><i class="medium material-icons">account_circle</i> PROFILE</a></li>
                    <li><a href="/orders/user"><i class="medium material-icons">local_offer</i> ORDERS</a></li>
                    <li>
                        <form th:action="@{/logout}" th:method="POST">
                            <button id="logout"><i class="medium material-icons">wrap_text</i> LOGOUT</button>
                        </form>
                        </li>
                </div>
            </ul>
        </div>
        </nav>
        <ul class="sidenav row" id="mobile-demo">
            <div class="button-group col s8 offset-s2" sec:authorize="!isFullyAuthenticated()">
                <li class="col s12"><a class="col s12" href="/sign-up"> <i class="medium material-icons">edit</i>SIGN UP</a></li>
                <li class="col s12"><a class="col s12" href="/login"><i class="medium material-icons">account_circle</i> LOGIN</a></li>
            </div>

            <div class="button-group col s8 offset-s2" sec:authorize="isFullyAuthenticated()">
                <li class="col s12"><a class="col s12" href="/profile"><i class="medium material-icons">account_circle</i> PROFILE</a></li>
                <li class="col s12"><a class="col s12" href="/orders/user"><i class="medium material-icons">local_offer</i> ORDERS</a></li>
                <li class="col s12" >
                    <form th:action="@{/logout}" th:method="POST">
                        <button id=""><i class="medium material-icons">wrap_text</i>LOGOUT </button>
                    </form>
                </li>
            </div>
        </ul>


    </div>

    <footer th:fragment="footer" class="page-footer blue-grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Ticketsup</h5>
                    <p class="grey-text text-lighten-4">A movie ticket and food ordering application created by three amazing Codeup developers!</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <br />
                        <li><a class="grey-text text-lighten-3" href="/about-us">About Us</a></li>
                    </ul>
                    <div class="col s12" style="    padding-left: 0;">
                        <div class="col s3">
                            <a target="_blank" href="https://www.facebook.com/ticketsup.rivas.5"><i class="fab fa-facebook-square social-links"></i></a>
                        </div>
                        <div class="col s3">
                            <a target="_blank" href="https://twitter.com/Ticketsup1"><i class="fab fa-twitter-square social-links"></i></a>
                        </div>
                        <div class="col s3">
                            <a target="_blank" href="https://www.instagram.com/ticketsup/?hl=en"><i class="fab fa-instagram social-links"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright Ticketsup
            </div>
        </div>
    </footer>
</body>
</html>